body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E9E9E5;
}


:root {
    --background: #FFFFAC;
}

.tabs {
    padding-left: 16px; 
    padding-right: 30px; 
    position: absolute;
    top: 38px;
}

.tab {
    text-transform: uppercase;
    line-height: 2;
    display: inline-block;
    border: none;
    border-radius: 6px 6px 0 0;
    position: relative;
    margin-right: 2rem;
    background: var(--background);
    white-space: nowrap;
    cursor: pointer;
    background: var(--background);
}

.tab.active {
    z-index: 3;
    position: relative;
    float: left;
    background-color: #FFF575;  
    }




.tab.left {
    margin-left: 0;
}


.tab.right {
    float: right;
}

.tab div {
    background: var(--background);
    padding: 6px 0;
    position: relative;
    z-index: 10;
}

.tab span {
    display: inline-block;
    border: 2px solid transparent;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 140%;
    color: #A9AAA0;
    font-weight: bold;
    min-width: 6rem;

    a{
        color: #A9AAA0;
        text-decoration: none;
    }

    a:hover{
        color: ghostwhite ;
    };

}


.tab:before,
.tab:after {
    content: "";
    height: 100%;
    position: absolute;
    background:var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;

    .mainleft{
        background-color: #FFF575;
        left: 0;
    }
}

.tab:before {
    right: -16px;
    transform: skew(25deg);
    border-radius: 0 8px 0 0;
}


.tab:after {
    transform: skew(-25deg);
    left: -16px;
    border-radius: 8px 0 0 0;
}


.mainleft:before{
    content: "";
    height: 100%;
    position: absolute;
    background: var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;

}

.active:before,
.active:after {
    content: "";
    height: 100%;
    position: absolute;
    background:#FFF575;
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
}


.active:after{
    transform: skew(0deg);
}




/*Main*/

.container {
    display: flex;
    width: 81%;
    height: 75%;
}

.left, .right {
    z-index: 5;
    padding: 20px;
}

.left {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 0 8px;
}

.left label {
    font-size: 14px;
    font-weight: bold;
    color: #5188F4;
}

.left input {
    padding: 10px;
    font-size: 16px;
    border: 1.5px solid  #9FBFFF;
    border-radius: 4px;
    margin-bottom: 15px;
}

input::placeholder{
    color: #9FBFFF;
}

.right {
    width: 80%;
    background-color: white;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0 8px 8px 0;
    justify-content: flex-start;
}




.video-container {
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    right: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p{
        display: contents;
        font-size: 24px;
        width: 90%;
    }
}

#doneButton, #resetButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #5188F4;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

#doneButton:hover, #resetButton:hover {
    background-color: #0056b3;
}

#displayInputs {
    background: white;
    margin: 88px 30px 10px 10px;
    border-radius: 4px;
    border: 5px solid #FFF575;
    width: 80%;
    height: 60%;
    overflow: hidden;
    text-align: center;

    h3{
        margin:30px;
        font-size: 24px;
        color: #a9aaa0;
            }
}



.hidden {
    display: none;
}


#copyButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    background-color: #FFF575;
    color: #a9aaa0;
    width: 100%;
    height: 24%;
    cursor: pointer;
    font-weight: bold;
}

#copyButton:hover {
    background-color: #DFD456;
    color: white;
}

.defaultMessage {
    position: relative;
    width: 70%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #5188F4;
    overflow: hidden;
    font-size: 24px;
    z-index: 1;

    .sscreen{
        display: none;
    }
}


/*input value*/
#inputValues {
    max-width: 90%; 
    margin: 0 auto; 
}

#inputValues p {
    display: inline-block;
    width: 100%; 
    margin: 5px 0; 
}

#inputValues p span {
    display: inline-block;
    max-width: calc(100% - 120px); 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}



p {
    position: relative;
    z-index: 10;
    color: #5188F4;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: blur(3px);
}

.top-left {
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.top-right {
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    background: linear-gradient(-120deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.bottom-right {
    bottom: 0;
    right: 0;
    background: linear-gradient(120deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

@keyframes moveTopLeft {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(125px, 125px);
    }
}

@keyframes moveTopRight {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-125px, 125px);
    }
}

@keyframes moveBottomLeft {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(125px, -125px);
    }
}

@keyframes moveBottomRight {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-125px, -125px);
    }
}




/*other css*/
.fl-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fl-icon {
    width: 30px;
    height: 30px;
    background-color: #FFF575;
    border-radius: 5px;
    margin-right: 10px;
}

.fl-text {
    flex-grow: 1;
    font-size: 16px;
    color: #A9AAA0;
}

.download-btn {
    background-color: #5188F4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0056b3;
}


/**mobile**/
@media (max-width: 768px) {
    .container{
        width: 100vw;
        height: 100vh;
    }

    .tabs{
        display: none;
    }

    .left{
        display: none;
    }

    .right{
        width: 100vw;
        border-radius: 0;
        background-color: #FFFFAC;
    }

    .sscreen{
        display: block !important;
    }

    .bgscreen{
        display: none;
    }

    [class^="video"]{
        display: none;
    }


}



