body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E9E9E5;
}

:root {
    --background: #FFFFAC;
}

.tabs {
    padding-left: 16px;
    padding-right: 30px;
    position: absolute;
    top: 38px;
}

.tab {
    text-transform: uppercase;
    line-height: 2;
    display: inline-block;
    border: none;
    border-radius: 6px 6px 0 0;
    position: relative;
    margin-right: 2rem;
    background: var(--background);
    white-space: nowrap;
    cursor: pointer;
}

.tab.active {
    z-index: 3;
    position: relative;
    float: left;
    background-color: #FFF575;
}

.tab.left {
    margin-left: 0;
}

.tab.right {
    float: right;
}

.tab div {
    background: var(--background);
    padding: 6px 0;
    position: relative;
    z-index: 10;
}

.tab span {
    display: inline-block;
    border: 2px solid transparent;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 140%;
    color: #A9AAA0;
    font-weight: bold;
    min-width: 6rem;

    a{
    	color: #A9AAA0;
    	text-decoration: none;
    }

    a:hover{
    	color: whitesmoke;
    };

}

.tab:before,
.tab:after {
    content: "";
    height: 100%;
    position: absolute;
    background: var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
}

.tab:before {
    right: -16px;
    transform: skew(25deg);
    border-radius: 0 8px 0 0;
}

.tab:after {
    transform: skew(-25deg);
    left: -16px;
    border-radius: 8px 0 0 0;
}

.active:before {
    content: "";
    height: 100%;
    position: absolute;
    background: #FFF575;
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
}



.active:after {
    content: "";
    transform: none;
    height: 100%;
    position: absolute;
    background: #FFF575;
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
}




.container {
    display: flex;
    width: 81%;
    height: 76%;
}

.left, .right {
    z-index: 5;
    padding: 20px;
}

.left {
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 0 8px;
}

.left label {
    font-size: 14px;
    font-weight: bold;
    color: #5188F4;
}

.left textarea {
	height: 70%;
    padding: 10px;
    font-size: 14px;
    border: 1.5px solid #9FBFFF;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
}

textarea::placeholder {
    color: #9FBFFF;
    font-family: Inter;
}

.right {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 0 8px 8px 0;
}


.video-container {
    display: none;
    left: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    p{
    	font-size: 24px;
    	width: 90%;
    }
}

.result-container {
    width: 100%;
    margin: 88px 30px 10px 10px;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    border: 5px solid #FFF575;
    border-radius: 4px;
}

#result {
    width: 100%;
    margin: 0 15px;
}

#copyButton {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #FFF575;
    color: #a9aaa0;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #DFD456;
}

.defaultMessage {
    position: relative;
    width: 70%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #5188F4;
    overflow: hidden;
    z-index: 1;

    .sscreen{
        display: none;
    }
}

.defaultMessage p {
    z-index: 2;
    font-size: 24px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.top-left {
    top: -40px;
    left: -40px;
}

.top-right {
    top: -40px;
    right: -40px;
}

.bottom-left {
    bottom: -40px;
    left: -40px;
}

.bottom-right {
    bottom: -40px;
    right: -40px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #5188F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #416BB1;
}

button:active {
    background-color: #314F8B;
}

 .defaultMessage {
    position: relative;
    width: 70%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #5188F4;
    overflow: hidden;
}

p {
    position: relative;
    z-index: 10;
    color: #5188F4;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: blur(3px);
}

.top-left {
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.top-right {
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    background: linear-gradient(-120deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

.bottom-right {
    bottom: 0;
    right: 0;
    background: linear-gradient(120deg, rgba(159,191,255,1) 0%, rgba(255,245,117,1) 100%);
}

@keyframes moveTopLeft {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(125px, 125px);
    }
}

@keyframes moveTopRight {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-125px, 125px);
    }
}

@keyframes moveBottomLeft {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(125px, -125px);
    }
}

@keyframes moveBottomRight {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-125px, -125px);
    }
}




/**mobile**/
@media (max-width: 768px) {
    .container{
        width: 100vw;
        height: 100vh;
    }

    .tabs{
        display: none;
    }

    .left{
        display: none;
    }

    .right{
        width: 100vw;
        border-radius: 0;
        background-color: #FFFFAC;
    }

    .sscreen{
        display: block !important;
    }

    .bgscreen{
        display: none;
    }

    [class^="video"]{
        display: none;
    }


}

